.page {
    display: grid;
    gap: 1rem;
    padding: 1rem;

    input, select {
        width: 14rem;
    }
}

.grid1 {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.split {
    background-color: var(--background);
    color: var(--foreground);
    height: 14rem;
}