.chatroom {
  border: 1px solid white;
}

.top {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  align-items: center;
  gap: 0.2rem 0.4rem;
  padding-bottom: 0.4rem;
}

.msg {
  padding: 0.4rem;
}

.msgs {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  border: 1px solid;
  overflow-y: auto; /* scroll => alltid på */
}