:root {
  --background: #fff;
  --foreground: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #023;
    --foreground: #ddf;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

html,
body {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  /* overflow: hidden; */
  font-family: var(--font-geist-sans);
  /* font-size: large; */
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input, select {
  background-color: var(--background);
  color: var(--foreground);
  height: 1.4em;
  width: 7em;

  &:hover {
    cursor: pointer;
  }
}

.imgbtn {
  width: auto;
  border: none;  
  background-color: var(--background);
}

.flexcent {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.flexcentgrow {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
}

.banner {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
}

.logo {
  font-family: var(--font-luxurious-roman);
  font-size: xx-large;
}
