:root {
  --background: #fff;
  --background2: #ddd;
  --foreground: #222;
  --msgmessage: #440;
  --msguser: #090;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --background2: #034;
    --foreground: #bbf;
    --msgmessage: #fff;
    --msguser: #0f0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: var(--font-geist-sans);
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: x-large;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select {
  background-color: var(--background);
  color: var(--foreground);
  height: 1.4em;
  width: 7em;
}

button,
select {
  &:hover {
    cursor: pointer;
  }
}

textarea {
  background-color: var(--background);
  color: var(--foreground);
  height: 10rem;
}

main {
  height: 100%;
}

.imgbtn {
  display: flex;
  align-items: center;
  width: auto;
  border: none;
  background-color: var(--background);
}

.flexcent {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.flexcentwrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.2rem;
}

.flexcentgrow {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.font1 {
  font-family: var(--font-geist-sans);
}

.font2 {
  font-family: var(--font-luxurious-roman);
}

.font3 {
  font-family: var(--font-space-mono);
}

.font4 {
  font-family: var(--font-4);
}

.font5 {
  font-family: var(--font-5);
}

.fontsize8 {
  font-size: 8px;
}

.fontsize10 {
  font-size: 10px;
}

.fontsize12 {
  font-size: 12px;
}

.fontsize14 {
  font-size: 14px;
}

.fontsize16 {
  font-size: 16px;
}

.fontsize18 {
  font-size: 18px;
}

.fontsize20 {
  font-size: 20px;
}

.fontsize22 {
  font-size: 22px;
}

.fontsize24 {
  font-size: 24px;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
}

.banner {
  display: flex;
  height: 3rem;
  align-items: center;
  border-bottom: 1px solid;
  padding: 0.2rem;
}

.logo {
  top: 0.2rem;
  font-family: var(--font-luxurious-roman);
  font-size: xx-large;

  @media (width > 50rem) {
    position: absolute;
  }
}

.user {
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;

  @media (width > 50rem) {
    position: absolute;
  }
}

.msgtxt {
  flex: 1;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: large;

  .nav-link {
    text-align: center;
    width: 5rem;
    padding: 0.4rem 1rem;
    border-radius: 4px;
    transition: background-color 0.2s;
  }

  .nav-link:hover {
    background-color: var(--foreground);
    color: var(--background)
  }

  .nav-link.active {
    background-color: var(--foreground);
    color: var(--background);
  }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  padding: 0.4rem 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: max-content;

  button {
    width: auto;
    text-align: left;
    padding: 0 0.2rem;
  }
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: grid;

  button:hover {
    background-color: var(--foreground);
    color: var(--background);
  }
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--foreground);
  color: var(--background);
}