.main {
  font-family: var(--font-geist-sans);
  font-size: large;
  margin: 0 1rem;

  button, input {
    font-size: large;
  }
}

.page {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  gap: 0.2rem;
  padding-bottom: 0.4rem;
}

.msg {
  padding: 0.4rem;
}

.msgs {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  border: 1px solid;
  height: 20rem;
  overflow-y: auto; /* scroll = alltid på */
  
}