.borderx {
  background: var(--foreground);
  cursor: grab;
}

.borderh {
  width: 10px;
  height: 30px;
  margin: 0 0.4rem;
}

.borderv {
  width: 30px;
  height: 10px;
}

.borderx.dragging {
  cursor: grabbing;
  background: yellow;
}